
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
}

h1, h2, h3{
  font-family: "Playfair Display";
}

body{
  display: flex;
  flex-direction: column;
}

:root {
  --back-color: rgb(171, 171, 241);
}

.flexbox{
  display: flex;
}

.gridbox{
  display: grid;
}

header{
  background-color: var(--back-color);
  padding: 50px 100px;
  margin-bottom: 100px;
}

h1{
  margin-bottom: 20px;
}

.presentation{
  display: flex;
  margin: auto;
  width: fit-content;
  align-items: center;
}

.portrait{
  float: left;
  width: 350px;
  position: relative;
  height: fit-content;
}

.portrait > img{
  width: 350px;
  border-radius: 10px;
}

.portrait > p{
  font-family: "Playfair Display";
  width: 100%;
  position:absolute;
  text-align: center;
  font-size: 50px;
  bottom:0;
  color: white;
  margin: 5px 0;
}

.about{
  max-width: 600px;
  background-color: white;
  height: fit-content;
  align-self: center;
  padding: 20px 20px;
}

main{
  flex-direction: column;
  margin: 0 200px;
  margin-bottom: 100px;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.project{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project > img{
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.project > h2{
  font-size: 25px;
  margin: 10px 15px;
}

.project > p{
  font-size: 15px;
  margin: 0 15px;
  margin-bottom: 35px;
}

footer{
  background-color: var(--back-color);
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px
}

.contact-details{
  flex-direction: column;
  gap: 30px;
}

.contact-pic > img{
  width: 400px;
}

.contact-info{
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.contact-info > img{
  width: 30px;
}

.contact-icons{
  font-size: 40px;
  gap: 20px;
}

@media (max-width: 1000px){
  .header{
    padding: 25px 50px;
  }

  .portrait{
    width: 250px;
  }

  .portrait > img{
    width: 250px;
  }

  .portrait > p{
    font-size: 40px;
  }

  .contact-pic > img{
    width: 300px;
  }
}

@media (max-width: 750px){
  header{
    padding: 0;
  }

  .presentation{
    gap: 0;
  }

  .portrait{
    margin: 20px 20px;
  }

  .portrait > img{
    border-radius: 0;
  }

  .about > h1{
    text-align: center;
  }

  main{
    margin: 0 20px;
  }

  main > h1{
    text-align: center;
  }

  .presentation{
    flex-direction: column;
  }

  footer{
    flex-direction: column;
  }

  .contact-icons{
    align-self: center;
  }
}